* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #5149E4 !important;
}
button {
  border: none;
}

svg {
  color: blueviolet;
}

select {
  border: 1px solid rgb(229, 228, 228);
  border-radius: 5px;
}

/* //navbar */
/* //navbar */
.navbar {
  padding: 20px 5%;
}

.navright {
  display: flex;
  gap: 20px;
}

.btn-group {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(229, 228, 228);
}

.btn-group input {
  border: none;

}

/* navbar */
/* Saitbar */

.saitbar {
  background: #F9FAFF;
  width: 15%;
  min-height: 100vh;
  padding: 30px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 2px solid rgb(205, 203, 203);
}

.saitbarright {
  background: #F9FAFF;
  width: 15%;
  height: 100vh;
  overflow-y: scroll;
  padding: 30px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-left: 2px solid rgb(205, 203, 203);
}
.resentActive{
  padding: 10px;
}
.resentActive h6{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  
  
  /* Black */
  
  color: #0A0603;
}
.serverStatus img{
  width: 100%;
}
.resentcards{
  display: flex;
  flex-direction: column;
}
.resentcard{
  display: flex;
  border-left:#d3d3d3 2px solid;
  padding-left: 8px;
  position: relative;
}
.resentcard span{
  position: absolute;
  top: 0;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: white;
}
.resentcard h6{
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  
  
  /* Black */
  
  color: #0A0603;
}
.resentcard p{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* or 186% */
  
  
  /* Gray */
  
  color: #8A96B1;
}
.saitbar ul {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0 ;
}

.saitbar ul a {
  padding: 5px;
  padding-left: 30px;
  font-weight: 500;
  color: blueviolet;
  width: 100%;
}
.saitbar ul a.active {
  border-right: blueviolet 5px solid;
}


.saitbar ul a svg {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-right: 10px;
  background-color: rgba(225, 224, 225, 0.448);
  transition: all 0.3s;
}

.saitbar ul a:hover  {
  border-right: blueviolet 5px solid;
}

.saitbar ul a:hover svg {
  color: white;
  background-color: blueviolet;
}
.saitbar ul a.active svg {
  color: white;
  background-color: blueviolet;
}

.saitbar ul a:hover {
  color: blueviolet;
}



/* Saitbar */
/* home */

.home {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.homeceneter {
  width: 85%;
}

/* home */
/* Dashboar */
.dashboard {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  padding: 0px 0px 40px 40px ;
  display: flex;
}
.dashboardleft{
  width: 85%;
}
.proect_cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.proect_card {
  padding: 20px;
  background: #F9FAFF;
  cursor: pointer;
}

.proect_card .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.activity {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.activity_head {
  display: flex;
  align-items: center;
  justify-content: start;
}

.activity_head h3 {
  margin-right: 100px;
}

.activity_p1 {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 15px solid blue;
}

.activity_p2 {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 15px solid #FFB9CD;
}

.pieChart {
  width: 100%;
  height: auto;
  padding: 15px;
  background: #F9FAFF;
}

.donutchart {
  height: 300px !important;
}

.donutchart-innertext {
  height: 30px !important;
}

.chartscircle {
  display: flex;
}

.donutchart-legend {
  display: none;
  height: 0px !important;
}

.pieChartcard {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}

.recharts-responsive-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.recharts-surface {
  width: 100px !important;
  height: 100px !important;
}
.recharts-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px !important ;
}
.analizcards {
  width: 100%;
  height: auto;
  padding: 20px;
  background: #F9FAFF;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.analizcard {
  display: flex;
  align-items: center;
  gap: 10px;
}

.balans1btn {
  padding: 10px;
  margin-right: 5px;
  background: #5149E4;
}

.balans2btn {
  padding: 10px;
  margin-right: 5px;
  background: #00A389;
}

.balans3btn {
  padding: 10px;
  margin-right: 5px;
  background: #FF5B5B;
}

.dashboardBody{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 10px; 
  gap: 15px;
}
.contact{
  background: #F9FAFF;
  padding: 10px;
}
.cantactHead{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cantactHead button{
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background-color: #5149E4;
  color: #FFF;
}
.contactBody{
  display:grid;
  grid-template-columns: 20% 60% 20%;
  gap: 15px;
  margin-top: 5px;
  align-items: center;
}
.contactBody p{
  font-size: 10px ;
  color: grey;
}
.contactBody img{
  padding:15px 10px;
  background-color: rgb(231, 230, 230);
}
.contactBodyTitle p{
  margin-bottom: 0;
}
.contactBodyBtnGroup{
  display: flex;
  gap: 10px;
}
.vievmore{
  width: 100%;
  border: #a29dfa 1px solid;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: #c4c1fc 2px 2px 5px;
}
.massege{
  background: #F9FAFF;
  padding: 10px;
}
/* // */
.userravieCards{
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 10px;
}
.userraviesCard{
  background-color: #FFF;
  padding: 10px;
}
.userraviesCardHead{
  display: flex;
  gap: 10px;
}
.userraviesCardHead img{
  background-color: rgb(202, 199, 199);
}
.userraviesCardBody p{
   font-size: 10px;
   color: rgb(177, 177, 177);
   margin-top: 10px;
}
.userraviesCardFooter{
  display: flex;
  gap: 15px;
}
.userraviesCardFooter .archive{
  font-size: 12px;
  color:#f57b9e;
}
.userraviesCardFooter .accert{
  font-size: 12px;
  color:green;
}

/* ///////////////email */
.emailpage{
  width: 100%;
  height:100vh;
  overflow: scroll;
  display: flex;
  justify-content: space-between;
}
.saitbarrightEmail{
  width: 30%;
  height:100vh;
  overflow: scroll;
}
.emailcenterpage{
  width: 70%;
  height: 100vh;
  overflow: scroll;
  padding: 20px;
}
.emailBlock{
  display: flex;
}
.emailBlockleft{
  width: 20%;
  height: 100vh;
  background-color: #5149E4;
  padding: 10px;
}
.newmail{
  padding: 10px;
  background-color: #FFF;
  width: 100%;
  font-weight: 600  ;
}
.emailBlockleft ul{
  width: 100%;
  padding: 0;
  margin:10px  0;
}
.emailBlockleft li{
  width: 100%;
  padding: 10px;
  color: #FFF;
}
.emailBlockleft li svg{
  margin-right: 8px;
  color: #FFF;
}
.emailBlockleft li:hover{
  background-color: #FFF;
  color: #000;
  font-weight: 500;
}
.emailBlockleft li:hover svg{
  color: blueviolet;
}
.emailBlockleft .labels{
  display: flex;
  flex-direction: column;
}
.emailBlockleft .label{
  color: rgb(142, 140, 140);
  font-weight: 500;
}
.work{
  color: #3ec6f7;
}
.SideProjects{
  color: #f223f5;
}
.Offer{
  color: #eeee25;
}